.grid {
  border: solid 1px var(--bg-dark);
  width: 780px;
  height: 780px;

  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}
.grid .cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  height: 120px;
  width: 120px;
  box-shadow: 0 0 0 0px var(--bg-dark);
  transition: 0.2s;
}

.cell.hovered {
  box-shadow: 0 0 0 5px var(--bg-dark);
}
