.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  color: #fff;
}

.register .form {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 50px;
  box-sizing: border-box;
}

.register .form input {
  width: 100%;
}

.register .form label {
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
}
