.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  color: #fff;
}

.register .form {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: var(--shadow);
}

.register .form input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 100px;
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  outline: none;
}

.register .form label {
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
}
