.wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.wait .waitContainer {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;

  max-width: 500px;
  padding: 20px 0 0 0;
  box-sizing: border-box;
}
.wait .waitContainer .gameInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}

.wait .numberPlayers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.wait .waitContainer .player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.wait .waitContainer .player.opaque {
  background: rgba(255, 255, 255, 0.01);
}

.wait .waitContainer .playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
}
