.wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  color: #fff;
}
.wait .waitContainer {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: var(--shadow);
}
.wait .waitContainer .gameInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
}

.numberPlayers {
  background: #fff;
  color: var(--bg-dark);
  padding: 10px 20px;
  border-radius: 50px;
}
.wait .waitContainer .player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 50px;
}

.wait .waitContainer .playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 25px;
}
