:root {
  --rouge: #ed1d23;
  --bleu: #00b9f1;
  --vert: #70be44;
  --jaune: #f9ae19;
  --bg-dark: #231f20;
  --bg-light: #f5f5f5;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  --grid-width: calc(min(60vw, 60vh));
}

.font-rouge {
  color: var(--rouge) !important;
}
.font-jaune {
  color: var(--jaune) !important;
}
.font-bleu {
  color: var(--bleu) !important;
}
.font-vert {
  color: var(--vert) !important;
}
.border-rouge {
  border-color: var(--rouge) !important;
}
.border-jaune {
  border-color: var(--jaune) !important;
}
.border-bleu {
  border-color: var(--bleu) !important;
}
.border-vert {
  border-color: var(--vert) !important;
}
.bg-rouge {
  background-color: var(--rouge) !important;
}
.bg-jaune {
  background-color: var(--jaune) !important;
}
.bg-bleu {
  background-color: var(--bleu) !important;
}
.bg-vert {
  background-color: var(--vert) !important;
}

body {
  background: var(--bg-dark);
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 1.3px,
    transparent 0
  );
  overflow: hidden;
  background-size: 20px 20px;
  background-position: center;
  animation: background-move 30s ease-in-out infinite;
}
@keyframes background-move {
  0% {
    background-size: 20px 20px;
  }
  50% {
    background-size: 30px 30px;
  }
  100% {
    background-size: 20px 20px;
  }
}

.glowingBorder {
  position: relative;
  border-radius: 10px;
}

.glowingBorder:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
  filter: blur(10px);
  pointer-events: none;
  box-sizing: border-box;
}

.glowingBorder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-mask-image: linear-gradient(
    90deg,
    black 0%,
    rgba(0, 0, 0, 0.1) 50%,
    black 100%
  );
  mask-image: linear-gradient(
    90deg,
    black 0%,
    rgba(0, 0, 0, 0.1) 50%,
    black 100%
  );
}

@font-face {
  font-family: "Universalis";
  src: url("./assets/fonts/universalis.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: Universalis, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
