.cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 100px);
  max-height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
  padding: 10px;
  margin: 0 50px;
  box-sizing: border-box;
}

.cards .cards-card {
  flex: 1;
  transition: 0.5s;
}

.cards .cards-card:hover {
  transform: scale(1.1);
}
.cards .cards-card.disable:hover {
  transform: none;
}

.cards .cards-card:last-child {
  width: 120px;
}

.cards::-webkit-scrollbar {
  width: 5px;
}
.cards::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
