.card {
  width: 120px;
  height: 120px;
  background: #000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

.card .dot {
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: auto;
  visibility: hidden;
}

.card.rouge .dot {
  background: #ed1d23;
}
.card.bleu .dot {
  background: #00b9f1;
}
.card.vert .dot {
  background: #70be44;
}
.card.jaune .dot {
  background: #f9ae19;
}

.card .dot.filled {
  visibility: visible;
}
